$masiv-background: #F9F9FE;
$masiv-green: #01C878;
$masiv-green-hover: #06AC69;
$masiv-blue: #1B9CF6;
$masiv-blue-hover: #0076EE;
$masiv-dark: #192354;
$masiv-dark-hover: #364177;
$masiv-red: #EF6565;
$masiv-red-hover: #CB3737;
$masiv-gray: #D3D5E2;
$masiv-gray-hover: #A2A2A2;
$masiv-dark-gray: #3C3F4A;
$modal-gray: #8C8C98;
$modal-warning: $masiv-red;
$font-weight: 500;
$transition: all 0.3s ease-in-out;
$border-radius: 3px;
$border-color: #D3D5E2;

.masiv-green {
    color: $masiv-green !important;
}
