.m-modal {
  height: calc(100% - 30px);
  font-size: 15px;

  &.modal-700 {
    width: 700px;
    max-height: 492px;
  }
  &.modal-400 {
    width: 442px;
  }
  &.modal-350 {
    width: 350px;
  }
  &.modal-350 .col-sm-6 {
    width: 100%;
  }
  &.m-modal-warnings ul.list-warnings {
    list-style: none;
    padding: 0 14px;
  }
  &.m-modal-warnings ul.list-warnings li::before {
    content: "\2022";
    color: $modal-warning;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  &.m-modal-warnings .modal-header {
    color: $modal-warning;
  }
  &.m-modal-warnings .modal-footer {
    text-align: center;
  }
  
  .modal-dialog {
    position: relative;
    margin: 14px auto;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    .modal-body {
      padding: 0 24px 30px 24px;
      position: relative;
      left: 0;
      right: 0;
      span.input-group-addon {
        background-color: #4B535B;
        color: white;
        border-color: #4B535B;
      }
      .form-group {
        margin-bottom: 14px;
      }
      .col-sm-6:first-child {
        border-right: 1px solid #C8CAD4;
        padding-left: 0px;
      }
      .col-sm-6:last-child {
        padding-left: 24px;
        padding-right: 0;
      }
      .row {
        margin-right: 0;
        margin-left: 0;
      }
      .input-group {
        margin-top: auto;
      }
    }
  }
  .modal-header {
    flex-wrap: wrap;
    background-color: #ffffff;
    color: $modal-gray;
    border: none;
    padding: 24px 24px 22px 24px;
    .modal-title {
      font-size: 18px;
      line-height: 16px;
      font-weight: 500;
      margin: 0;
    }
    .close {
      color: $modal-gray;
      margin-top: -9px;
      font-size: 19px;
      float: none;
      top: 27px;
      right: 24px;
      line-height: 21px;
      font-weight: 700;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity = 20);
      opacity: .7;
    }
  }
  .form-group > label {
    position: relative;
  }
  label.control-label {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.2em;
    display: block;
    color: $masiv-dark-gray;
    font-size: 15px;
    padding: 0 0 6px 0;
    margin: 0;
  }
  .modal-fields {
    font-size: 15px;
  }
  .date[readonly] > div.datetimepicker-input {
    display: block;
  }
  .modal-footer {
    background-color: #ffffff;
    border-radius: 0;
    padding: 8px 24px;
    border-top: 1px solid #e5e5e5;
    button {
      font-size: 14px;
    }
  }
}

